:root {
  --bg-base: var(--grey00);
  --bg-panel: var(--grey08);
  --bg-primary: var(--grey12);
  --bg-secondary: var(--grey15);
  --bg-float: var(--grey20);
  --text-primary: var(--greyA100);
  --text-body: var(--greyA90);
  --text-secondary: var(--greyA70);
  --text-tertiary: var(--greyA60);
  --border-primary: var(--greyA20);
}

.bg-base{ 
  background: var(--bg-base);
  color: var(--bg-base);
}
.bg-panel{ 
  background: var(--bg-panel);
  color: var(--bg-panel);
}
.bg-primary{ 
  background: var(--bg-primary);
  color: var(--bg-primary);
}
.bg-secondary{ 
  background: var(--bg-secondary);
  color: var(--bg-secondary);
}
.bg-float{ 
  background: var(--bg-float);
}
.text-primary{ 
  background: var(--text-primary);
  color: var(--text-primary);
}
.text-body{ 
  background: var(--text-body);
  color: var(--text-body);
}
.text-secondary{ 
  background: var(--text-secondary);
  color: var(--text-secondary);
}
.text-tertiary{ 
  background: var(--text-tertiary);
  color: var(--text-tertiary);
}

.layers {
  perspective: 500px;
  position: relative;
  div {
    padding: 32px 24px;
    border-radius: 6px;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  }
  .bg-panel  {
    position: relative;
    max-width: 380px;
    margin: 0 auto;
    transform: rotateX(60deg) scale(.75) ; 
  }
  .bg-primary{
    padding: 128px 16px 24px;
  }
  .bg-float {
    position: absolute;
    right: 8px;
    top: 8px;
    bottom: -32px;
    padding: 48px;
    transform: translateY(-48px) translateX(0px); 
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: "Inter", system-ui;
  font-size: 13px;
  font-weight: 400;
  line-height: calc(20 / 13);
  padding: 48px;
  max-width: 1440px;
  margin: 0 auto;
}

h2 {
  font-size: 18px;
  font-weight: 560;
}

h1,
h2,
h3 {
  line-height: 2;
}

img {
  max-width: 100%;
}

button {
  outline: none;
  background: #5E52FF;
  color: rgba(white,.9);
  border: 0;
  border-radius: 8px;
  padding: 8px;
  margin: 0 0 24px 0;
}

.mg-b-24 {
  margin-bottom: 24px;
}

.hide .hide__child { display: none;}

.cols {
  font-family: ui-monospace, "SF Mono", monospace;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 2px;
  &--two {
    grid-template-columns: 50% 50%;
  }
  &--four {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

.split {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2px;
  &--three {
    grid-template-columns: 33% 33% 33%;
  }
  // @media (max-width: 1024px) {
  //   &--three {
  //     grid-template-columns: 100%;
  //   }
  //  }
}

strong {
  font-weight: 600;
  display: inline-block;
  padding: 0 4px;
}

.panel {
  background: var(--bg-panel);
  border-radius: 6px;
  padding: 24px;
  place-items: start stretch;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-content: start;
  width: 100%;
}

.card {
  background: var(--bg-primary);
  border-radius: 6px;
  overflow: hidden;
}

.card__chin {
  padding: 0px 12px 12px;
}

.card__meta {
  background: var(--bg-secondary);
  padding: 8px;
  margin: 8px 0 0;
  border-radius: 4px;
  //border: 1px solid var(--border-primary);
  //hack will fix laterz
  svg {
    float: left;
    margin-right: 4px;
    position: relative;
    top: 1px;
  }
}

.old {
  .panel, .bg-panel {
  background: var(--greyOld10);
  }
  .card .bg-primary{
    background: var(--greyOld12);
  }
 .meta .bg-secondary{
    background: var(--greyOld15);
  }
  .bg-float{
    background: var(--greyOld20);
  }
}

.v3 { 
  .panel {
    background: hsl(240, 13%, 10%);
  }
  .card {
    background: hsl(234, 19%, 23%);
    font-family: 'Nunito';
  }
  .card__title {
    font-weight: 600;
  }
  .card__meta {
    background: hsl(234, 19%, 28%);
  }
}

.card__title {
  color: var(--text-primary);
  font-size: 13px;
  font-weight: 500;
}

.card__deck {
  color: var(--text-tertiary);
  font-size: 12px;
  font-weight: 400;
}

.chip {
  border-radius: 24px;
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
  padding: 0 8px;
  margin: 4px 4px 0 0;
  &--green {
    background: hsla(156,100,35,.1);
    color: hsl(156,100,35);
  }
  &--purple {
    background: hsla(269,71,71,.1);
    color: hsl(269,71,71);
  }
}
