:root {
  --bg-base: var(--grey00);
  --bg-panel: var(--grey10);
  --bg-primary: var(--grey12);
  --bg-secondary: var(--grey15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: "Inter", system-ui;
  font-size: 13px;
  font-weight: 400;
  line-height: calc(20 / 13);
  padding: 4px;
}

h1,
h2,
h3 {
  line-height: 2;
}

img {
  max-width: 100%;
}

.cols {
  font-family: ui-monospace, "SF Mono", monospace;
  display: grid;
  grid-template-columns: 25% 25% 25% 1fr;
  grid-gap: 2px;
  padding: 16px;
}

.split {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2px;
}

strong {
  font-weight: 600;
  display: inline-block;
  padding: 0 4px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
}

.panel {
  background: var(--bg-panel);
  border-radius: 6px;
  padding: 16px;
  place-items: start stretch;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 280px));
  justify-content: start;
  width: 100%;
}

.card {
  background: var(--bg-primary);
  border-radius: 6px;
  margin-top: 24px;
  overflow: hidden;
}

.card__chin {
  padding: 8px 12px 12px;
}

.card__meta {
  background: var(--bg-secondary);
  padding: 8px;
  margin: 8px 0;
  border-radius: 4px;
}

.old .panel {
  background: var(--greyOld10);
}
.old .card {
  background: var(--greyOld12);
}
.old .meta {
  background: var(--greyOld15);
}

.card__title {
  font-size: 13px;
  font-weight: 500;
}

.card__deck {
  font-size: 12px;
  font-weight: 400;
}
